@if (checklist()) {
<header class="flex items-center gap-4 justify-between">
  <h1 class="text-xl text-neutral-300 capitalize">
    {{ checklist()?.name || "" }}
  </h1>

  <a
    [routerLink]="routers.createTodo(checklist()?.id || '')"
    class="text-xs bg-neutral-700 hover:bg-neutral-600 py-1.5 px-3 rounded-lg cursor-pointer"
  >
    Add todo
  </a>
</header>
}

<div class="mt-4">
  @if (todos()?.length) {
  <ul>
    @for (todo of todos(); track todo.id) {
    <li>
      {{ todo.title }}
    </li>
    }
  </ul>
  } @else {
  <span class="text-center text-neutral-400 w-full block">
    Start adding todo to this checklist
  </span>
  }
</div>
