@if (checklist()) {
<header class="flex items-center gap-4 justify-between my-4">
  <h1 class="text-lg capitalize">
    {{ checklist()?.name || "" }}
  </h1>

  <a
    [routerLink]="routers.createTodo(checklist()?.id || '')"
    class="text-xs bg-neutral-700 hover:bg-neutral-600 py-1.5 px-3 rounded-lg cursor-pointer"
  >
    Add todo
  </a>
</header>
}

<div class="mt-4">
  @if (todos()?.length) {
  <ul class="flex flex-col gap-2">
    @for (todo of todos(); track todo.id) {
    <li class="flex items-center gap-2 bg-neutral-700 px-4 py-2 rounded-md">
      <input
        [id]="todo.id"
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleTodoState(todo.id, !todo.completed)"
      />
      <label [for]="todo.id" class="cursor-pointer select-none">
        {{ todo.title }}
      </label>
      <button
        title="delete"
        class="text-neutral-400 hover:text-neutral-300 cursor-pointer ml-auto"
        (click)="checklistService.removeTodo(todo.id)"
      >
        &times;
      </button>
    </li>
    }
  </ul>
  } @else {
  <span class="text-center text-neutral-400 w-full block">
    Start adding todo to this checklist
  </span>
  }
</div>
